.promotion-slider {
    padding: 15px;
}

.promotion-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 633px !important;
    padding: 10px;
    height: 350px;
    border-radius: 25px;
}