.Product-Card{
    margin: 0 5px 0 5px;
    padding: 5px;
    /* max-width: 200px; */
}

.col{
    padding: 0px !important;
    margin-top: 12px !important;
}

.Card-Image{
    max-width: 200px;
}

.g-4{
    margin-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: turquoise;
}

a{
    text-decoration: none !important;
}

.card-body{
    padding: 0px !important;
}