.checkout-section .row {
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    background: #6cf;
}

.checkout-button {
    border-radius: 60px !important;
    border: 2px solid #e90000 !important;
    font-size: 12px !important;
    font-family: helvetica !important;
    text-transform: uppercase;
    width: min-content !important;
}

.shoppingCart-Col{
    padding: 0px !important;
}